.hero_img{
    position: relative;
}
.hero_img::before{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),rgba(255, 255, 255));
}
/* .caro{
   top:0;
    position: absolute;
} */

@media only screen and (max-width: 768px) {
    
    .hero_img{
        display: none;
    }
    
  }
  