@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer .container{
    background-color: black;
    margin-top: 6%;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.footer-col ul{
    list-style: none;
}
.footer-col h4{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
.footer-col h4::before{
content: '';
width: 70px;
height: 2px;
position: absolute;
background-color: #036EB6;
bottom: -10px;
}
.footer-col ul li{
    padding: 10px 0;
}
.footer-col ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-col ul li a:hover{
    opacity: 1;
}
.footer-col input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
}
.footer-col .inputSubmit{
color: white;
background-color: #036EB6;
padding: 10px 0;
}
.col p{
    color: #8A8cA2;
    font-size: 12px;
}
 hr{
    opacity: 0.7;
}
.row .socialIcons a{
    display: inline-block;
    color: #036EB6;
    font-size: 20px;
    margin: 0 15px;
    transition: 0.5s;
}

.row .socialIcons i:hover{
/* color: #036EB6; */
color: #036EB6;
}
@media(max-width:600px){
footer .row{
    flex-direction: column;
    padding: 20px 30px;
    
}
footer .footer-col ul{
    margin-left: 20px;
    margin-bottom: 20px;
}
footer .footer-col input{
    width: 90%;
   
}
}


/* latest twitter */
/* .socialIcons .check{
	font-family:sans-serif;
} */
/* .fa.fa-twitter::before{
	content:"𝕏";
	font-size:1.2em;
} */
/* .socialIcons .check::before{
	content:"𝕏";
	font-size:1.2em;
    
} */